<!DOCTYPE html>
<html>
    <head> 
        <title>Info Page</title>
    </head>
    <body> 
        <h1>Info Page</h1>
        <p>This is the info page: here is some info on me
            <li>my name is Emiley.</li>
            <li>I like to code.</li>
            <li>I will be a software engineer.</li>
        </p>
    </body>
</html>